<div *ngFor="let che of checks" class="flex-start full divider container ns" (click)="selectCheck.emit(che)" [ngClass]="{'selected': che.selected}" >
    <div class="money">{{che.value|currency}}
        <div class="win-value">{{che.winValue|currency}}</div>
    </div>
    <div class="full">
        <div class="person">{{che.person| uppercase}}</div>
        <div class="check flex-start">
            <div class="date">{{che.date|date:'shortDate'}}</div>
            <div class="rate ">{{che.rate}}% | {{(che.value-che.winValue)|currency}}</div>
        </div>
    </div>
    <div class="delete" *ngIf="che.status==='pending'&&!hideEvent">
        <button mat-icon-button (click)="remove($event,che)">
            <mat-icon>{{icon}}</mat-icon>
        </button>
    </div>
    <div  *ngIf="che.status==='payed'">
        <div class="payedDate">{{che.date|date:'shortDate'}}</div>
    </div>
</div>
<br>
