<div class="flex-start">
    <h4>Cheques por cobrar</h4>
    <button mat-icon-button routerLink="nuevo">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button routerLink="historial" class="history">
        <mat-icon>history</mat-icon>
    </button>
</div>
<app-lista-hoy *ngIf="pendings.length>0" [checks]="pendings" icon="check" (removeCheck)="removeCheck($event)"
    (selectCheck)="getSelectedTotal($event)">
</app-lista-hoy>
<div class="flex-start">
    <h4>Proximos</h4>
</div>
<app-lista-hoy *ngIf="checks.length>0" [checks]="checks" icon="check" (removeCheck)="removeCheck($event)"
    (selectCheck)="getSelectedTotal($event)"
    hideEvent="true">
</app-lista-hoy>

<div class="total" *ngIf="total&&!totalAdepositar">Total: {{total|currency}}</div>

<div class="selectedChecks" *ngIf="selectedChecks.length>0" @bottomToTopAnimation>
    <div class="flex-start"><h4>Cheques Seleccionados</h4></div>
    <app-lista-hoy  [checks]="selectedChecks"  hideEvent="true">
    </app-lista-hoy>
    <app-total [totalCheques]="totalCheques" [ganancia]="ganancia"
        [totalAdepositar]="totalAdepositar"></app-total>
</div>