.flex-start{
    padding: 1rem;
    letter-spacing: 5px;
    button{
        margin-left: 1rem;
    }
}

.total{
    position: fixed;
    padding: 1rem 2rem;
    bottom: .5rem;
    left: .5rem;
    border-radius: 30px;
    background-color: tomato;
}