.bg {
    height: 100%;
    background-color: black;
    app-nuevo-cheque {
      height: 100% !important;
    }
  }
  .tot{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  @media all and(max-width:800px) {

    .save{
      position: fixed;
      bottom: 5rem;
      right: 3rem;
      background-color: tomato;
    }
  }
  