form {
  transition: 400ms ease-in-out;
  box-sizing: border-box;
  padding: 2rem;
  flex-direction: column;
  height: 100%;
  background-color: rgb(29, 29, 29);
  mat-form-field {
    width: 300px;
    input {
      text-align: center;
    }
  }
}

.save {
  position: relative;
  .badge {
    position: absolute;
    top: -.5rem;
    right: -1.5rem;
    background-color: tomato;
    color: white;
    line-height: 25px;
    padding: 0 5px;
    border-radius: 25px;
    font-size: 0.9rem;
    z-index: 40;
  }
}

@media all and(max-width:800px) {
  form {
    flex-wrap: wrap;
    padding: 10px;
    mat-form-field,.flex-center {
      width: 40%;
    }
  }
}

.short{
  height: 200px;
  flex-direction: row;
}
