form {
  transition: 400ms ease-in-out;
  box-sizing: border-box;
  padding: 2rem;
  flex-direction: column;
  height: 100%;
  background-color: #202020;
  mat-form-field {
    width: 300px;
    input {
      text-align: center;
    }
  }
}

.save {
  position: relative;
  .badge {
    position: absolute;
    bottom: -1rem;
    background-color: tomato;
    color: white;
    line-height: 23px;
    padding: 0 10px;
    border-radius: 25px;
    font-size: 0.9rem;
    z-index: 40;
  }
}

.short {
  height: fit-content;
  flex-direction: row;
}


@media all and(max-width:800px) {
  form {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    height: fit-content;
    mat-form-field,
    .flex-center {
      width: 45%;
    }
    .person{
      width: 95%;
    }
  }
  .flex-center{
    position: relative;
    top: -6px;
  }
}

