.add {
  height: 100%;
  background-color: rgba(32, 32, 32, 0.856);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: height 0.8s ease;
  .check {
    width: 200px;
  }
  .date {
    width: 280px;
    text-align: center;
  }

  .win {
    text-align: center;
    width: 200px;
    min-width: 200px;
    color: rgba(207, 44, 207, 0.89);
    font-size: 25px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
      color: rgba(207, 44, 207, 0.89);
    }
  }
  button:disabled {
    mat-icon {
      color: gray;
    }
  }
}

.short {
  height: 150px;
}

@media all and(max-width: 800px) {
  .add {
    flex-direction: column;
  }
  .short {
    height: 50%;
  }
}
